.search-bar-container {
    display : flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 auto;
    width: 90%;
}
input.search-bar {
    width: 100%;
    flex-grow: 1;
    font-size: 20px;
    border: none;
    padding: 20px 20px;
    border-radius: 20px;
}

input.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.501);
}

.filter-buttons-container {
    display: flex;
    margin-top: 0.5rem;
    gap: 1.5rem;
}

button.filter-buttons{
    flex-grow: 1;
    border-radius: 20px;
    border: none;
    padding: 0.5rem 0;
    
}

.event-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1rem;
}

.event-card {
    flex: 1 1 30%;
    flex-direction: column;
    outline: red solid 1px;
}