<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="StyleSheet" href="../public/css/global_styles.css">
        <link rel="Stylesheet" href="../public/css/about/about.css">
    </head>

    <body>
        <div class="container-objective">
            <h1>Platform Mission</h1>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu arcu ornare turpis mollis placerat. Nulla scelerisque diam eu diam malesuada fermentum. Proin sed gravida leo. Phasellus non finibus est. Maecenas sed mattis enim. Integer et consectetur nulla. Integer sapien tortor, dictum quis felis sit amet, pellentesque ultricies neque. Etiam tempus vehicula mi. Fusce elementum tincidunt pretium. Curabitur pretium magna eu orci elementum accumsan. Donec rutrum velit a eros placerat efficitur. Integer accumsan rhoncus arcu sollicitudin pretium.</span>
        </div>
        <div class="container-team">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu arcu ornare turpis mollis placerat. Nulla scelerisque diam eu diam malesuada fermentum. Proin sed gravida leo. Phasellus non finibus est. Maecenas sed mattis enim. Integer et consectetur nulla. Integer sapien tortor, dictum quis felis sit amet, pellentesque ultricies neque. Etiam tempus vehicula mi. Fusce elementum tincidunt pretium. Curabitur pretium magna eu orci elementum accumsan. Donec rutrum velit a eros placerat efficitur. Integer accumsan rhoncus arcu sollicitudin pretium.</span>
        </div>
</body>

    
</html>