<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../public/css/main.css" />
</head>

<body>

    <header><!--navigation bar-->
        <div class="topbar">
            <h1>Admin Dashboard</h1>
            <nav class = "nav-links">
                <a href="Admin-dashboard.html" target="_self">Overview</a>
                <a href="manage-events.html"  target="_self">Manage Events</a>
                <a href="create-event.html" target="_self">Create Event</a>
                <a class="active" href="analytics.html" target="_self">Analytics</a>
            </nav>
        </div>
    </header>

    <section class="panel">
        <div class="chart-grid">

            <div class="chart-card">
                <canvas id="myChart"></canvas>
            </div>

            <div class="chart-card">
                <canvas id="myChart2"></canvas>
            </div>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../controllers/adminController.js"></script>
    
</body>