<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" href="../public/css/Public Pages/public_pages.css">
    </head>
    <body class="home-page">
        <main class="home-card">  
            <header>
                <h2>Contact Us</h2>
            </header>
            <form class="home-actions">
                <div class="form-field">
                    <label for="name">Name &nbsp;</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name">
                </div>
                
                <div class="form-field">
                    <label for="email">Email &nbsp;</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email">
                </div>
            
                <div class="form-field">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder="Enter your message"></textarea>
                </div>
                <button class="login-or-create-account-buttons" type="submit">Submit</button>
                <p> <a href="index.html" class="back-to-home-link">Back to home</a></p>
            </form>
        </main>
        <footer class="footer">
            <p>&copy; 2026 Smart Campus Event Planner</p>
            <a href="contact.html">Contact Us</a>
            <br>
            <a href="about.html">About Us</a>
        </footer>
    </body>
</html>