<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../public/css/main.css" />
</head>

<body>

    <header> <!--navigation bar-->
            <div class="topbar">
            <h1>Admin Dashboard</h1>
            <nav class = "nav-links">
                <a href="Admin-dashboard.html" target="_self">Overview</a>
                <a href="manage-events.html"  target="_self">Manage Events</a>
                <a class="active" href="create-event.html" target="_self">Create Event</a>
                <a href="analytics.html" target="_self">Analytics</a>
            </nav>
        </div>
    </header>


        <form class ="panel">
            <label>
                Event Name
                <input class = "event-creation-input" type="text" placeholder="Enter event name" /><br>
            </label>
            
            <label>
                Description
                <input class = "event-creation-input" type="text" placeholder="Event description" /><br>
            </label>

            <label>
                Location
                <input class = "event-creation-input" type="text" placeholder="Event location" /><br>
            </label>

            <label>
                Organizer
                <input class = "event-creation-input" type="text" placeholder="Organizer" /><br>
            </label>

            <label>
                Capacity
                <input class = "event-creation-input" type="number" min="1" placeholder="Enter event capacity" /><br>
            </label>

            <label>
                Category
                <select class = "event-category-dropdown">
                    <option>All Events</option>
                    <option>Academic</option>
                    <option>Social</option>
                    <option>Sports</option>
                    <option>Cultural</option>
                    <option>Career</option>
                    <option>Workshop</option>
                </select><br>
            </label>

            <label>
                Start Date
                <input class = "event-creation-input" type="datetime-local" /><br>
            </label>

            <label>
                End Date
                <input class = "event-creation-input"    type="datetime-local" /><br>
            </label>

            <label>
                Status
                <select>
                    <option>Open</option>
                    <option>Closed</option>
                </select>
            </label>
            
            <button type="submit" class="submit-event-button">Create Event</button>
        </form>

</body>
