<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../public/css/Public Pages/public_pages.css">
    </head>
    <body class="home-page">
        <main class="home-card">  

        <header>
            <h2>Smart Campus Event Planner</h2>
            <p><em>Your one-stop solution for event planning on campus</em></p>
        </header>

        <div class="home-actions">
            <a class="login-or-create-account-buttons" href="login.html">Sign In</a>
            <a class="login-or-create-account-buttons" href="register.html">Create an Account</a>
        </div>

        </main>

        <footer class="footer">
            <p>&copy; 2026 Smart Campus Event Planner</p>
            <a href="contact.html">Contact Us</a>
            <br>
            <a href="about.html">About Us</a>
        </footer>

    </body>
</html>