<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="Stylesheet" href="../public/css/main.css">
        <title>My Registrations</title>
    </head>
    <body>
        <h1>My Registrations</h1>
        <search class="search-bar-container">
            <form>
                <div>
                    <input class="search-bar bg-grey-theme" type="search" placeholder="Search"></input>
                </div>
                <div class="filter-buttons-container">
                    <button type="button" class="bg-grey-theme filter-buttons">Filter1</button>
                    <button type="button" class="bg-grey-theme filter-buttons">Filter2</button>
                    <button type="button" class="bg-grey-theme filter-buttons">Filter3</button>
                    <button type="button" class="bg-grey-theme filter-buttons">Filter4</button>
                    <button type="button" class="bg-grey-theme filter-buttons">Filter5</button>
                </div>
            </form>
        </search>
        <p></p>
        <section class = "event-card-container">
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">category1</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="card-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">category2</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="card-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">category3</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="card-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">category4</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="card-button">Register</button>
                </footer>
            </article>
        </section>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since 1966,
         when designers at Letraset and James Mosley, 
         the librarian at St Bride Printing Library in London, 
         took a 1914 Cicero translation and scrambled it to make dummy text for Letraset's 
        </p>
    </body>
</html>