<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="StyleSheet" href="../public/css/global_styles.css">
        <link rel="Stylesheet" href="../public/css/Page_styles/my-registrations.css">
        <title>My Registrations</title>
    </head>
    <body>
        <h1>My Registrations</h1>
        <search class="search-bar-container">
            <form>
                <div>
                    <input class="search-bar bg-grey-theme" type="search" placeholder="Search"></input>
                </div>
                <div class="filter-buttons-container">
                    <button type="button" class="bg-grey-theme filter-buttons">Filter1</button>
                    <button type="button" class="bg-grey-theme filter-buttons">Filter2</button>
                    <button type="button" class="bg-grey-theme filter-buttons">Filter3</button>
                    <button type="button" class="bg-grey-theme filter-buttons">Filter4</button>
                    <button type="button" class="bg-grey-theme filter-buttons">Filter5</button>
                </div>
            </form>
        </search>
        <p></p>
        <section class = "event-card-container">
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">Category1</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="register-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">Category2</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="register-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">Category3</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="register-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">Category4</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="register-button">Register</button>
                </footer>
            </article>
        </section>
    </body>
</html>