<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="StyleSheet" href="../public/css/global_styles.css">
        <link rel="Stylesheet" href="../public/css/Page_styles/my-registrations.css">
        <title>My Registrations</title>
    </head>
    <body>
        <script src="../controllers/adminController.js"></script>  
<script src="../controllers/adminController.js"></script>   <!-- link .js -->
<header>

    <div class="topbar">
        <h1>Smart Event Planner</h1>
        <h2>Admin Dashboard</h2>    <!-- change page title -->
        <nav class = "nav-links">
            <a class="active-page" href="Admin-dashboard.html" target="_self">Overview</a>     <!-- class="active-page" highlights the active page, change to match the page -->
            <a href="manage-events.html"  target="_self">Manage Events</a>
            <a href="create-event.html" target="_self">Create Event</a>
            <a href="analytics.html" target="_self">Analytics</a>
            
            
            <div class="user-menu">             <!-- drop down menu -->
                <button id="menuButton" class="menu-button">
                    <span>▼</span>
                    <script>rotateMenuArrow()</script>                  <!-- Dropdown menu animation -->
                </button>

                <div id="dropdown" class="dropdown hidden">
                    <a href="index.html">Logout</a>                    <!-- Add more menu items as links ( <a>...</a>  ) here if needed -->
                </div>

            </div>

            <script>toggleDropdown();</script>                          <!-- Dropdown menu function -->
        </nav>
    </div>
</header>
        <search class="search-bar-container">
            <form>
                <div>
                    <input class="search-bar" type="search" placeholder="Search"></input>
                </div>
                <div class="filter-buttons-container">
                    <button type="button" class="filter-buttons">Filter1</button>
                    <button type="button" class="filter-buttons">Filter2</button>
                    <button type="button" class="filter-buttons">Filter3</button>
                    <button type="button" class="filter-buttons">Filter4</button>
                    <button type="button" class="filter-buttons">Filter5</button>
                </div>
            </form>
        </search>
        <p></p>
        <section class = "event-card-container">
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">CSS</span>
                    <span class="event-card-status">Full</span>
                </header>
                <div class="event-card-details">
                    <span class="date-time">Oct 24, 6:00 PM</span>
                    <span class="spots">Spots left: 12</span>
                    <span class="location">Downtown Auditorium</span>
                </div>
                <footer class="event-card-footer">
                    <button type="button" class="register-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">Category2</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="register-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">Category3</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="register-button">Register</button>
                </footer>
            </article>
            <article class="bg-grey-theme event-card">
                <header class="event-card-header">
                    <span class="event-card-category">Category4</span>
                    <span class="event-card-status">Status</span>
                </header>
                <footer class="event-card-footer">
                    <button type="button" class="register-button">Register</button>
                </footer>
            </article>
        </section>
    </body>
</html>