<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/global_styles.css" />
    <script src="../controllers/adminController.js"></script>
    
    <!--dropdown menu for admin navigation-->
    <script>
        function toggleDropdown() {
            const button = document.getElementById("menuButton");
            const menu = document.getElementById("dropdown");

            button.addEventListener("click", (e) => {
                e.stopPropagation();
                menu.classList.toggle("hidden");
            });

            document.addEventListener("click", () => {
                menu.classList.add("hidden");
            });
    }

        function rotateMenuArrow(){
            const arrow = document.querySelector(".arrow");

            arrow.addEventListener("click", () => {
                arrow.classList.toggle("open");
            });
        }
    </script>

    <!--dynamically populate the admin navigation menu --> 
    <script>function getAdminNav() {
        const adminNavItems = document.getElementById("dropdown");

        adminNavItems.innerHTML += `
                            <a href="/admin/admin-dashboard" target="_self">Overview</a>
                            <a href="/admin/manage-events" target="_self">Manage Events</a>
                            <a href="/admin/create-event" target="_self">Create Event</a>
                            <a href="/admin/analytics" target="_self">Analytics</a>
        `;
    }

        window.addEventListener("DOMContentLoaded", getAdminNav);
    </script>


    <!--calendar script-->
    <script>
        function renderCalendar(){
    const monthYearElement = document.getElementById('monthYear');
    const datesElement = document.getElementById('dates');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');

    let currentDate = new Date();

    const updateCalendar = () => {
        const currentYear = currentDate.getFullYear();
        const currentMonth = currentDate.getMonth();

        const firstDay = new Date(currentYear, currentMonth, 0);
        const lastDay = new Date(currentYear, currentMonth + 1, 0);
        const totalDays = lastDay.getDate();
        const firstDayIndex = firstDay.getDay();
        const lastDayIndex = lastDay.getDay();

        const monthYearString = currentDate.toLocaleDateString('default' , {month: 'long' , year: 'numeric'});
        monthYearElement.textContent = monthYearString;

        let datesHTML = '';

        for(let i = firstDayIndex; i > 0; i--){
            const prevDate = new Date(currentYear, currentMonth , 0 - i + 1);
            datesHTML += `<div class = "date inactive">${prevDate.getDate()}</div>`;
        }
    

        for(let i = 1; i<=totalDays; i++){
            const date = new Date(currentYear, currentMonth, i);
            const activeClass = date.toDateString() === new Date().toDateString() ? 'active' : '';
            datesHTML += `<div class = "date ${activeClass}">${i}</div>`;
        }

        for(let i = 1; i <= 7 - lastDayIndex; i++){
            const nextDate = new Date(currentYear, currentMonth + 1, i);
            datesHTML += `<div class = "date inactive">${nextDate.getDate()}</div>`;

        }

        datesElement.innerHTML = datesHTML;
    } 
    
    prevBtn.addEventListener('click', () => {
        currentDate.setMonth(currentDate.getMonth() - 1);
        updateCalendar();
    })

    nextBtn.addEventListener('click', () => {
        currentDate.setMonth(currentDate.getMonth() + 1);
        updateCalendar();
    })

    updateCalendar();
}
    </script>



</head>

<body>
    
    <header><!--navigation bar-->
        <div class="topbar">
            <h1>Smart Event Planner</h1>
            <h2>Admin Dashboard</h2>
            <nav class = "nav-links">
                <a class="active-page" href="/admin/admin-dashboard" target="_self">Overview</a>
                <a href="/admin/manage-events"  target="_self">Manage Events</a>
                <a href="/admin/create-event" target="_self">Create Event</a>
                <a href="/admin/analytics" target="_self">Analytics</a>
                
                <div class="user-menu">

                    <button id="menuButton" class="menu-button">
                        <span class="arrow">▲</span>
                        <script>rotateMenuArrow()</script>
                    </button>
                   
                    <div id="dropdown" class="dropdown hidden">
                        <a id="menu-items" href="/public/index">Logout</a>
                    </div>

                </div>
                <script>toggleDropdown();</script>                
            </nav>
        </div>
    </header>

    <section class="overview-grid">
        <div class="panel overview-title">

            <h1>Overview</h1>

            <div class="stats-grid">
                <div class="stat-card">
                    <span>Total Events</span>
                    <strong>128</strong>
                </div>

                <div class="stat-card">
                    <span>Upcoming Events</span>
                    <strong>20</strong>
                </div>

                <div class="stat-card">
                    <span>Registrations</span>
                    <strong>3,018</strong>
                </div>
            </div>

        </div>

        <div class="panel overview-title">

            <h1>Top Events</h1>

            <div class="stats-grid">
                <div class="upcoming-events-scroll">
                    <table class="upcoming-events-table">
                        <tbody>
                            <tr>
                                <td>Spring Tech Summit</td>
                                <td><strong>185</strong></td>
                            </tr>
                            <tr>
                                <td>Volunteer Fair</td>
                                <td><strong>143</strong></td>
                            </tr>
                            <tr>
                                <td>Campus Networking Night</td>
                                <td><strong>92</strong></td>
                            </tr>

                            <tr>
                                <td>Volunteer Fair</td>
                                <td><strong>143</strong></td>
                            </tr>
                            <tr>
                                <td>Career Networking Night</td>
                                <td><strong>120</strong></td>
                            </tr>
                            <tr>
                                <td>Basketball Tournament</td>
                                <td><strong>200</strong></td>
                            </tr>
                            <tr>
                                <td>Coding Bootcamp</td>
                                <td><strong>75</strong></td>
                            </tr>
                            <tr>
                                <td>Spring Music Festival</td>
                                <td><strong>500</strong></td>
                            </tr>
                            <tr>
                                <td>Academic Success Seminar</td>
                                <td><strong>90</strong></td>
                            </tr>
                            <tr>
                                <td>Community Food Drive</td>
                                <td><strong>80</strong></td>
                            </tr>
                            <tr>
                                <td>Chess Club Meetup</td>
                                <td><strong>40</strong></td>
                            </tr>
                            <tr>
                                <td>Entrepreneurship Workshop</td>
                                <td><strong>65</strong></td>
                            </tr>
                            <tr>
                                <td>Soccer Friendly Match</td>
                                <td><strong>180</strong></td>
                            </tr>
                            <tr>
                                <td>Photography Walk</td>
                                <td><strong>55</strong></td>
                            </tr>
                            <tr>
                                <td>Resume Building Workshop</td>
                                <td><strong>70</strong></td>
                            </tr>
                            <tr>
                                <td>International Food Fair</td>
                                <td><strong>350</strong></td>
                            </tr>
                            <tr>
                                <td>Math Competition</td>
                                <td><strong>110</strong></td>
                            </tr>
                            <tr>
                                <td>Park Cleanup</td>
                                <td><strong>100</strong></td>
                            </tr>
                            <tr>
                                <td>Gaming Club Tournament</td>
                                <td><strong>90</strong></td>
                            </tr>
                            <tr>
                                <td>Research Symposium</td>
                                <td><strong>250</strong></td>
                            </tr>
                            <tr>
                                <td>Leadership Conference</td>
                                <td><strong>300</strong></td>
                            </tr>

                            
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        
        
        <div class = "panel calendar">
            <div class="cal-header">
                <button id="prevBtn">
                    <h2>‹</h2>
                </button>
                <div class="monthYear" id="monthYear"></div>
                <button id="nextBtn">
                    <h2>›</h2>
                </button>
            </div>
            <div class="days">
                <div class="day">Mon</div>
                <div class="day">Tue</div>
                <div class="day">Wed</div>
                <div class="day">Thu</div>
                <div class="day">Fri</div>
                <div class="day">Sat</div>
                <div class="day">Sun</div>
            </div>
            <div class="dates" id="dates"></div>
        </div>   

        <script>renderCalendar()</script>


    </section>


    <footer class="footer-generic">
        <p>&copy; 2026 Smart Campus Event Planner</p>
        <a href="/public/contact" style="color:black">Contact Us</a>
        <br>
        <a href="/public/about" style="color:black">About Us</a>
    </footer>    
</body>