<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/global_styles.css"/>
    <link rel="stylesheet" href="/css/Admin/styles2.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/admin/admin.js" defer></script>
    <script src="/js/admin/analytics.js" defer></script>
    <script src="/js/darkmode.js" defer></script>
</head>

<body>

    <header><!--navigation bar-->
        <div class="topbar">
            <h1>Smart Event Planner</h1>
            <h2>Admin Dashboard</h2>
            <nav class = "nav-links">
                <a href="/admin/admin-dashboard" target="_self">Overview</a>
                <a href="/admin/manage-events"  target="_self">Manage Events</a>
                <a href="/admin/create-event" target="_self">Create Event</a>
                <a class="active-page" href="/admin/analytics" target="_self">Analytics</a>
                
                
                <div class="user-menu">
                    <button id="menuButton" class="menu-button">
                        <span class="arrow">▲</span>
                    </button>

                    <div id="dropdown" class="dropdown hidden">
                        <a href="/auth/logout">Logout</a>
                    </div>
                    
                </div>
                
            </nav>
        </div>
        <button id="theme-switch">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M338.5-338.5Q280-397 280-480t58.5-141.5Q397-680 480-680t141.5 58.5Q680-563 680-480t-58.5 141.5Q563-280 480-280t-141.5-58.5ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
        </button>
    </header>

    <section class="overview-grid">
        <div class="panel overview-title">

            <h1>Overview</h1>

            <div class="stats-grid">
                <div class="stat-card">
                    <span>Total Events:</span>
                    <strong id = "totalEventsCount"></strong>
                </div>

                <div class="stat-card">
                    <span>Upcoming Events:</span>
                    <strong id = "upcomingEventsCount"></strong>
                </div>

                <div class="stat-card">
                    <span>Full Events:</span>
                    <strong id = "fullEventsCount"></strong>
                </div>

                <div class="stat-card">
                    <span>Cancelled Events:</span>
                    <strong id = "cancelledEventsCount"></strong>
                </div>

                <div class="stat-card">
                    <span>Completed Events:</span>
                    <strong id = "completedEventsCount"></strong>
                </div>

            </div>

            
            

        </div>

        <div class="panel overview-title">

            <h1>Events capacity / registrations</h1>

            <div class="stats-grid">
                <div class="upcoming-events-scroll">
                    <table class="upcoming-events-table">
                        <thead>
                            <tr class = "analytics-event-table">
                                <th>Event</th>
                                <th>Capacity</th>
                                <th>Registrations</th>
                            </tr>
                        </thead>
                        <tbody id = "registrations/capacityPerEvent"></tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>    

    <section class="panel">
        
        <div class="chart-grid">
            
            <div class="chart-card">
                <canvas id="bar-chart"></canvas>
            </div>

            <div class="chart-card">
                <canvas id="doughnut-chart"></canvas>
            </div>

        </div>
    </section>

    <footer class="footer-generic">
        <p>&copy; 2026 Smart Campus Event Planner</p>
        <a href="/public/contact">Contact Us</a>
        <br>
        <a href="/public/about">About Us</a>
    </footer>    
</body>