<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="StyleSheet" href="/css/global_styles.css">
        <link rel="Stylesheet" href="/css/my-registrations/my-registrations.css">
        <script src="/js/events.js" defer></script>
        <script src="../controllers/adminController.js"></script>
        <title>My Registrations</title>
    </head>
    <body>
          
        <header><!--navigation bar-->
            <div class="topbar">
                <h1>Smart Event Planner</h1>
                <h2>Student Dashboard</h2> <!-- TODO: Change to student's name -->
                <nav class = "nav-links">
                    <a href="/student/student-dashboard" target="_self">Overview</a>
                    <a href="/student/events"  target="_self">Events</a>
                    <a class="active-page" href="/student/my-registrations" target="_self">My Registrations</a>
                    <a href="/student/profile" target="_self">Profile</a>
                    
                    
                    <div class="user-menu">

                        <button id="menuButton" class="menu-button">
                            <span class="arrow">▲</span>
                            <script>rotateMenuArrow()</script>
                        </button>
                    
                        <div id="dropdown" class="dropdown hidden">
                            <a id="menu-items" href="/public/index">Logout</a> <!-- Add more menu items here if needed -->
                            <a href="/student/student-dashboard" target="_self">Overview</a>
                            <a href="/student/events" target="_self">Events</a>
                            <a href="/student/my-registrations" target="_self">My Registrations</a>
                            <a href="/student/profile" target="_self">Profile</a>
                        </div>

                    </div>
                    <script>toggleDropdown();</script>                
                </nav>
            </div>
        </header>

        <search class="search-bar-container">
            <form>
                <div>
                    <input class="search-bar" type="search" placeholder="Search"></input>
                </div>
                <div class="filter-buttons-container">
                    <button type="button" class="filter-buttons">Organiser</button>
                    <button type="button" class="filter-buttons">Full</button>
                    <button type="button" class="filter-buttons">Location</button>
                    <button type="button" class="filter-buttons">Dates</button>
                    <button type="button" class="filter-buttons">Type</button>
                </div>
            </form>
        </search>
        <p></p>
        <section class = "event-card-container">
        </section>

    <footer class="footer-generic">
        <p>&copy; 2026 Smart Campus Event Planner</p>
        <a href="/public/contact">Contact Us</a>
        <br>
        <a href="/public/about">About Us</a>
    </footer>   
          
    </body>
</html>