<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Create an Account</title>
        <link rel="stylesheet" href="/css/global_styles.css">
        <link rel="stylesheet" href="/css/Public/authPages.css">
        <script src="/js/darkmode.js" defer></script>
    </head>
    <body class="home-page darkmode">
        <main class="home-card">

            <header>
                <h2>Create your Account</h2>
                <button id="theme-switch">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M338.5-338.5Q280-397 280-480t58.5-141.5Q397-680 480-680t141.5 58.5Q680-563 680-480t-58.5 141.5Q563-280 480-280t-141.5-58.5ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
        </button>
            </header>

            <form method="POST" action="/auth/register" class="home-actions">
                <div class="form-field">
                    <label for="first_name" > First Name </label>
                    <input type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="form-field">
                    <label for="last_name"> Last Name </label>
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="form-field">
                    <label for="email"> Email </label>
                    <input type="email" name="email" placeholder="johndoe@gmail.com" autocomplete="email">
                </div>
                <div class="form-field">
                    <label for="password"> Password </label>
                    <input type="password" name="password" placeholder="************">
                </div>
                <div class="form-field">
                    <label for="confirmed_password"> Confirm Password </label>
                    <input type="password" name="confirmed_password" placeholder="************">
                </div>
                <button type="submit" class="login-or-create-account-buttons">
                    Create Account
                </button>
            </form>

            <a href="/public/index" class="back-to-home-link">Back to home</a>

        </main>

        <footer class="footer">
            <p> &copy; 2026 Smart Campus Event Planner </p>
            <a href="/public/contact">Contact Us</a>
            <br>
            <a href="/public/about">About Us</a>
        </footer>
    </body>
</html>